@model csharp_bibliotecaMvc.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LibroID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
